body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.placeholder {
  position: static;
  visibility: hidden;
}

header {
  background: white;
  box-shadow: 0 0 2em;
  padding: 0 0 .5em;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

header div.name {
  color: lightgray;
  font-size: 2em;
  margin: 0 0 .5em;
}

header nav a {
  border-bottom: .1em solid white;
  display: inline-block;
  font-size: 1.5em;
  width: 10em;
  text-decoration: none;
}

header nav a.current {
  border-color: black;
}

header nav a:link, header nav a:visited {
  color: black;
}

header nav a:hover {
  color: dimgray;
}

header nav a:active {
  color: gray;
}

main {
  margin: 3em auto;
  padding: 0 3em;
  max-width: 50em;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

a:link {
  color: dodgerblue;
}

a:hover {
  color: skyblue;
}

a:active {
  color: red;
}

a:visited {
  color: blueviolet;
}

blockquote {
  color: gray;
  font-style: italic;
}

blockquote:before {
  content:open-quote;
}

blockquote:after {
  content:close-quote;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  padding: .25em .25em 1.25em;
  vertical-align: top;
}
