body {
  font-family: Arial, sans-serif;
  margin: 0 0 1em;
}

#header {
  box-shadow: 0 0 2em;
  padding: 0 0 .5em;
}

#name {
  color: lightgray;
  font-size: 2em;
  margin: 0 0 .5em;
  text-align: center;
}

nav {
  text-align: center;
}

.current-nav {
  border-bottom: .1em solid black;
}

nav a {
  display: inline-block;
  font-size: 1.5em;
  width: 10em;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: black;
}

nav a:hover {
  color: dimgray;
}

nav a:active {
  color: gray;
}

#body {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

a:link {
  color: dodgerblue;
}

a:hover {
  color: skyblue;
}

a:active {
  color: red;
}

a:visited {
  color: blueviolet;
}

blockquote {
  color: gray;
  font-style: italic;
}

blockquote:before {
  content:open-quote;
}

blockquote:after {
  content:close-quote;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  padding: .25em .25em 1.25em;
  vertical-align: top;
}
