@import "all.css";

.me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  border-radius: 50%; /* circle */
}

.name {
  width: min-content; /* put my first vs last name on separate lines */
  margin-left: 10px;
  font-size: 40px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  margin: 0 10px;
}

.socials a:link {
  font-weight: normal;
  color: var(--color-text);
}

.socials a:visited {
  color: var(--color-text);
}

.socials a:hover {
  color: var(--color-text-hover);
}

/* get higher specificity than the generic link selectors */
a.pronouns {
  font-weight: normal;
  color: var(--color-text);
  border-bottom: 2px dotted var(--color-text);
}

.pronouns:hover {
  color: var(--color-text-hover);
  border-color: var(--color-text-hover);
}

.venue {
  font-style: italic;
}
