@import "all.css";

.me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  border-radius: 50%; /* circle */
}

.name {
  width: min-content; /* put my first vs last name on separate lines */
  margin-left: 10px;
  font-size: 40px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  margin: 0 10px;
}

.socials a:link {
  font-weight: normal;
  color: var(--color-text);
}

.socials a:visited {
  color: var(--color-text);
}

.socials a:hover {
  color: var(--color-text-hover);
}

@keyframes wave {
  0% {
    transform: none;
  }

  15% {
    transform: rotate(-30deg);
  }

  30% {
    transform: none;
  }

  45% {
    transform: rotate(-30deg);
  }

  60% {
    transform: none;
  }

  75% {
    transform: rotate(-30deg);
  }

  /* get back early to work around iPhone timing bug */
  90% {
    transform: none;
  }
}

.wave {
  display: inline-block;
  animation: 1s linear 0.3s wave;
}

/* get higher specificity than the generic link selectors */
a.pronouns {
  font-weight: normal;
  color: var(--color-text);
  border-bottom: 2px dotted var(--color-text);
}

.pronouns:hover {
  color: var(--color-text-hover);
  border-color: var(--color-text-hover);
}

.topic {
  font-weight: bold;
}

.publications {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pub-info a:link {
  font-weight: normal;
}

.venue {
  font-style: italic;
}

.blog {
  border-spacing: 10px;
}

.date {
  vertical-align: top;
  white-space: nowrap;
}
